:root {
  --main-font-color: #f2f3f4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: #025928;
  padding: 0.75rem 0 0.75rem 1rem;
  text-align: left;
  /* color: #303030; */
  color: #f2f3f4;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  /* background: #f5f5f5; */
  /* background: #fffafa; */
  background: #f2f3f4;
}

.logo {
  color: #d96704;
}

.navbar-image {
  /* background-image: url(images/money-bg.jpg); */
  background-image: url('https://i.postimg.cc/Gm6N43rB/money-bg.jpg');
  opacity: 0.5;
  padding: 1rem;
}

.menu-container {
  /* border: 3px solid yellow; */
  display: flex;
  justify-content: center;
  background: #f0fff0;
}

/* .menu-container > .form-row {
  flex: 0 0 100%;
} */

.form-row {
  /* display: flex; */
  /* border: 3px solid green; */
  padding: 10px 0;
  /* flex-basis: 0 0 50%; */
  /* flex-basis: 39%; */
  /* margin: 2rem; */
  margin-left: 10px;
}

.form-row label {
  padding-right: 4px;
  padding-right: 10px;
}

.form-row input {
  /* flex: 0 0 100%; */
  /* flex: 1; */
  padding-left: 5px;
}

form {
  display: flex;
  /* justify-content: space-around; */
  /* width: 100%; */
  /* flex: 1; */
  align-items: center;
  /* justify-content: space-evenly; */
  justify-content: center;
  /* width: 100%; */
  /* keep: */
  /* flex-wrap: wrap; */
}

/* input {
  flex: 0 0 100%;
} */

/* .btn-bg {
  display: flex;
  width: 100%;
  justify-content: center;
  background: #f2f3f4;

} */

.submit-btn {
  display: flex;
  justify-content: center;
}

.add-items {
  background: #025928;
  color: var(--main-font-color);
  padding: 5px 10px;
  border-radius: 20px;
  /* padding: 10px 16px; */
  text-decoration: none;
  cursor: pointer;
  font-size: 17px;
  margin: 1rem;
  text-shadow: 0px 1px 0px #025928;
  outline: none;
}

.table-container {
  /* border: 3px solid red; */

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* .expense-table {
  display: flex;
  justify-content: center;
  align-items: center;
} */
i {
  color: var(--main-font-color);
}

.delete-icon {
  color: #666;
}

table {
  margin: 1rem;
  border-collapse: collapse;
  width: 100%;
  max-width: 768px;
}

th {
  background: #666;
  color: var(--main-font-color);
}

td,
th {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: left;
}

tr:nth-child(even) {
  /* background: #CCC; */
  /* background: #CFDBC5; */
  /* background: #F0FFF0; */
  background: #e0eee0;
}

tr:nth-child(odd) {
  background: #fff;
}

/* 
colors:
greens
#28a745
#006400

*/
