:root {
  --main-font-color: #f2f3f4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: #025928;
  padding: 0.75rem 0 0.75rem 1rem;
  text-align: left;
  /* color: #303030; */
  color: #f2f3f4;

}

body {
  font-family: 'Noto Sans JP', sans-serif;
  /* background: #f5f5f5; */
  /* background: #fffafa; */
  background: #f2f3f4;
}

span {
  /* color: #818385; */
  color: #d96704;
}

.navbar-image {
  /* background-image: url(images/money-bg.jpg); */
  background-image: url('https://i.postimg.cc/Gm6N43rB/money-bg.jpg');
  opacity: 0.5;
  padding: 1rem;
}

.expense-table {
  display: flex;
  justify-content: center;
}

table {
  margin: 1rem;
  border-collapse: collapse;
  width: 100%;
  max-width: 768px;
}

th {
  background: #666;
  color: var(--main-font-color);
}

td,
th {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: left;
}

tr:nth-child(even) {
  /* background: #CCC; */
  /* background: #CFDBC5; */
  /* background: #F0FFF0; */
  background: #E0EEE0;
}

tr:nth-child(odd) {
  background: #FFF;
}

/* 
colors:
greens
#28a745
#006400

*/